@charset "ISO-8859-1";

body {
	min-height: 100vh;
	background: linear-gradient(to right top, #a0eaff, rgb(0 76 105));
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	justify-content: center;
}

.infos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.break-line {
	width: 100%;
	height: 0;
	margin: 0;
	border: none;
	border-top: 1px solid #ccc;
}